/* Footer do index.html */

.container_meios_contato__herois{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
  }
  
  .informacoes__herois {
    display: flex;
    gap: 24px;
    user-select: none;
    font-size: 1.2rem;
    font-weight: 200;
    font-weight: bold;
    
  }
  
  .texto_copyright_site__herois{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 200;
    font-weight: bold;
    user-select: none;
  }
  
  .container_midias_sociais__herois {
    display: flex;
    gap: 20px;
    align-items: center;
    color: var(--white-color);
  }
  
  .midia_social__herois {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    
    border: 2px solid var(--white-color);
    border-radius: 50%;
  }
  
  .midia_social__herois:hover {
    background-color: var(--white-color);
    color: var(--white-color);
  }
  
  .midia_social__herois > i {
    font-size: 1.375rem;
    color: var(--white-color);
    line-height: 0;
  }